<div class="header">
  <div></div>
  <div class="profile-container">
    <search></search>
    <div class="head-menu-item">
      <button
        class="head-menu-item-btn ripple"
        [cdkMenuTriggerFor]="notificationOverlay">
        <img
          src="assets/images/user/alarm-icon.svg"
          alt="Alarm Icon"
          class="alarm-icon" />
      </button>
    </div>
    <img src="assets/images/user/avatar.svg" alt="Avatar" />
    <div class="circle-indicator pulse"></div>
  </div>
</div>
<ng-template #searchOverlay></ng-template>

<ng-template #notificationOverlay>
  <div class="notification-container">
    <div class="overlay overlay-notification overlay-fall" cdkMenu>
      <ul>
        <li class="notification-head-container">
          <div class="notification-head">Notifications</div>
          <span class="view-all-link">
            <a>Mark all as read</a>
          </span>
        </li>
        <div class="info-container">
          <div class="info">
            <img
              src="assets/images/user/info-icon.svg"
              alt="info icon"
              class="" />
            <p>
              Notifications here will be permanently deleted in the next 30 days
            </p>
          </div>
        </div>
        <li
          class="notification-message-container"
          *ngFor="let notification of notifications"
          cdkMenuItem>
          <img
            class="notification-icon"
            src="assets/images/user/{{ notification.icon }}" />
          <div>
            <div class="notification-subject">
              {{ notification.from }}
            </div>
            <p class="notification-desc">
              {{ notification.description }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
