<div class="users page">
  <header>
    <h1>Users</h1>

    <div class="buttons-wrapper">
      <app-button-new (click)="openManagerUserCreationModal()"></app-button-new>
      <app-manager-usercreation
        [isOpen]="managerUserCreationModalOpen"></app-manager-usercreation>
    </div>
  </header>
  <div class="toggles">
    <h3
      [class]="display === 'all' ? 'active' : ''"
      (click)="toggleDisplay('all')">
      All
    </h3>
    <h3
      [class]="display !== 'all' ? 'active' : ''"
      (click)="toggleDisplay('archives')">
      Archives
    </h3>
  </div>
  @if (display === 'all') { <app-user-list></app-user-list>

  } @else if (display === 'archives') { <app-archived-list></app-archived-list>}
</div>
