<p class="total-archived-users">
  <span>{{ totalArchivedUsers }}</span>
</p>
<div class="message-container">
  <div class="alert-error" *ngIf="errorMessage">
    <span class="closebtn"></span>
    {{ errorMessage }}
  </div>

  <div class="alert-success" *ngIf="successMessage">
    <span class="closebtn"></span>
    {{ successMessage }}
  </div>
</div>

<ng-container *ngIf="loading; else userListOrNoUsers">
  <div class="spinner-dots">
    <div class="custom-spinner">
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
      <div class="spinner-dot"></div>
    </div>
  </div>
</ng-container>
<ng-template #userListOrNoUsers>
  <div class="user-list-container">
    <ng-container *ngIf="archivedUsers.length > 0; else noUsersInArchive">
      <table class="user-table">
        <thead>
          <tr *ngIf="isAnyArchivedUserSelected">
            <th style="background: #fff; color: #5e718d" colspan="3">
              <div class="action-card">
                <button style="margin-right: 30px" (click)="selectAll()">
                  Select all
                </button>
                <button style="margin-right: 30px" (click)="deselectAll()">
                  De-select all
                </button>
                <!-- <button style="margin-right: 30px" (click)="deleteSelected()"> -->
                Delete
                <!-- </button> -->
                <!-- <button style="margin-right: 30px" (click)="archiveSelected()"> -->
                Archive
                <!-- </button> -->
                <button style="margin-right: 30px" (click)="restoreSelected()">
                  Restore
                </button>
              </div>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Department</th>
            <th>Specialization</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archiveduser of archivedUsers">
            <td class="grid-item">
              <div class="checkbox-container">
                <input
                  type="checkbox"
                  class="checkbox-input ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" />
                <td class="grid-item" *ngIf="archiveduser.firstName">
                  <!-- <img
                    [src]="
                      user.profilePicture
                        ? user.profilePicture
                        : 'assets/images/user/avatar.svg'
                    "
                    alt="User Avatar" /> -->
                </td>
                {{ archiveduser.firstName }} {{ archiveduser.lastName }}
              </div>
            </td>
            <td>{{ archiveduser.email }}</td>
            <td>{{ archiveduser.role }}</td>
            <td>{{ archiveduser.department }}</td>
            <td
              *ngIf="
                archiveduser.specializations &&
                archiveduser.specializations.length > 0
              ">
              <span
                *ngFor="
                  let specialization of archiveduser.specializations[0]
                    | keyvalue
                ">
                {{ specialization.value }}
              </span>
            </td>
            <td
              *ngIf="
                !archiveduser.specializations ||
                archiveduser.specializations.length === 0
              "></td>
            <td
              *ngIf="
                !archiveduser.specializations ||
                archiveduser.specializations.length === 0
              "></td>
            <td>
              <div
                class="dropdown-container"
                *ngIf="showDropdownForUser === archiveduser">
                <ul class="dropdown-details-container">
                  <li (click)="restoreUser(archiveduser.email)">Restore</li>
                  <li (click)="openDeleteUserModal(archiveduser)">Delete</li>
                </ul>
              </div>
              <div class="border">
                <button
                  class="actions-btn"
                  (click)="toggleDropdown(archiveduser)">
                  <div class="actions-dot">
                    <img src="assets/images/user/dots-v.svg" alt="dots" />
                  </div>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noUsersInArchive>
      <div class="no-user-container">
        <div class="no-user">
          <p class="nuf">
            No User<br />
            Added Yet.
          </p>
          <p style="font-size: 12px; color: #5e718d">
            It looks like there are no users in your list. <br />Start managing
            your archived users by adding a new one.
          </p>
        </div>
        <div class="image-illustration">
          <img
            src="assets/images/admin/add-users-illustration.svg"
            alt="No user add" />
        </div>
      </div>
    </ng-template>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"></app-pagination>
</ng-template>
