<div>
  <h5>Password</h5>
  <p>Update your password here</p>
</div>

<div class="input-section">
  <div>
    <h5>Current Password*</h5>
    <p>Enter to make changes to this page</p>
  </div>
  <div>
    <input
      id="currentPassword"
      type="{{ passwordField }}"
      class="input-settings"
      placeholder="Enter current password"
      formControlName="currentPassword" />
  </div>
</div>

<div class="input-section">
  <div>
    <h5>New Password</h5>
    <p>Enter to make changes to this page</p>
  </div>
  <div>
    <input
      id="newPassword"
      type="{{ passwordField }}"
      class="input-settings"
      placeholder="Enter new password"
      formControlName="newPassword" />
  </div>
</div>

<div class="input-section">
  <div>
    <h5>Confirm New Password</h5>
    <p>Enter to make changes to this page</p>
  </div>
  <div>
    <input
      id="confirmNewPassword"
      type="{{ passwordField }}"
      class="input-settings"
      placeholder="Confirm new password"
      formControlName="confirmNewPassword" />
  </div>
</div>

<div class="button-container">
  <button
    type="reset"
    class="password-button-settings bg-[#FFFFFF] text-[#022F54]">
    Cancel
  </button>
  <button
    type="submit"
    class="password-button-settings bg-[#022F54] text-white">
    Save
  </button>
</div>
