<div class="total-active-users">
  <span>{{ totalActiveUsers }}</span>
</div>

<div class="message-container">
  <div class="alert-error" *ngIf="errorMessage">
    <span class="closebtn"></span>
    {{ errorMessage }}
  </div>

  <div class="alert-success" *ngIf="successMessage">
    <span class="closebtn"></span>
    {{ successMessage }}
  </div>
</div>

<ng-container *ngIf="loading; else activeUsers">
  <app-custom-spinner></app-custom-spinner
></ng-container>

<ng-template #activeUsers>
  <div class="user-list-container">
    <ng-container *ngIf="users.length > 0; else noUsersInActive">
      <table class="user-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Department</th>
            <th>Specialization</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="grid-item">
              <div class="checkbox-container">
                <input
                  type="checkbox"
                  class="checkbox-input ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" />
                {{ user.firstName }} {{ user.lastName }}
              </div>
            </td>
            <td class="grid-item">{{ user.email }}</td>
            <td *ngIf="user.role; else notAvailable">
              {{ user.role }}
            </td>
            <ng-template #notAvailable>
              <td class="grid-item">N/A</td>
            </ng-template>
            <td *ngIf="user.department; else notAvailable">
              {{ user.department }}
            </td>
            <ng-template #notAvailable></ng-template>
            <td
              class="grid-item"
              *ngIf="
                user.specializations && user.specializations.length > 0;
                else notAvailable
              ">
              <span
                *ngFor="let specialization of user.specializations"
                class="specialization">
                {{ specialization }}
              </span>
            </td>
            <ng-template #notAvailable>
              <td class="grid-item">N/A</td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noUsersInActive>
      <div class="no-user-container">
        <div class="no-user">
          <p class="nuf">
            No User<br />
            Added Yet.
          </p>
          <p style="font-size: 12px; color: #5e718d">
            It looks like there are no users in your list. <br />Start managing
            your active users by adding a new one.
          </p>
        </div>
        <div class="image-illustration">
          <img
            src="assets/images/admin/add-users-illustration.svg"
            alt="No user added" />
        </div>
      </div>
    </ng-template>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"></app-pagination>
</ng-template>
