<div>
  <h2>Forgot password?</h2>
  <p>No worries we'll send you reset instructions</p>
  <form [formGroup]="forgotPasswordForm" (submit)="submitForm($event)">
    <label for="email" class="form-label">Email</label>
    <input
      id="email"
      type="email"
      class="global-input-auth {{ getEmailErrors() ? 'error' : '' }}"
      formControlName="email"
      placeholder="ellanaizer@amalitech.org" />
    @if(getEmailErrors()){
    <div class="validation-error-message">
      {{ getEmailErrors() }}
    </div>
    }
    <button type="submit" class="global-button-auth">RESET PASSWORD</button>
  </form>
</div>
