*,
*::before,
*::after {
  transition: all 0.3s ease;
}

svg.active path {
  fill: #dfb300;
}

.rating {
  display: flex;
  position: absolute;
  margin-top: -20px;
}

.rating svg {
  margin-right: -20px;
}

.rating svg:last-child {
  margin-right: 0;
}
