<div class="message-container">
  <div class="alert-error" *ngIf="errorMessage">
    <span class="closebtn"></span>
    {{ errorMessage }}
  </div>

  <div class="alert-success" *ngIf="successMessage">
    <span class="closebtn"></span>
    {{ successMessage }}
  </div>
</div>

<div [class]="modalClasses">
  <div class="modal-container">
    <div class="modal-header">
      <h2>Edit User</h2>
    </div>
    <div class="modal-body">
      <form [formGroup]="userDetails">
        <div class="form-group">
          <label for="firstName" class="form-label">First Name</label>
          <input
            id="firstName"
            type="text"
            class="input-fields {{ getNameErrors('firstName') ? 'error' : '' }}"
            placeholder="Enter FirstName"
            formControlName="firstName" />
          @if(getNameErrors('firstName')){
          <div class="validation-error-message">
            {{ getNameErrors('firstName') }}
          </div>
          }

          <div class="form-group">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              id="lastName"
              type="text"
              class="input-fields {{
                getNameErrors('lastName') ? 'error' : ''
              }}"
              placeholder="Enter LastName"
              formControlName="lastName" />
            @if(getNameErrors('lastName')){
            <div class="validation-error-message">
              {{ getNameErrors('lastName') }}
            </div>
            }
          </div>

          <label for="roles" class="form-label">Set Permissions</label>
          <div class="custom-dropdown" [class.active]="rolesDropdownOpen">
            <input
              formControlName="roles"
              id="roles"
              name="roles"
              class="input-fields"
              placeholder="Select a role"
              readonly
              (click)="toggleRolesDropdown()" />
            <span class="dropdown-sign"
              ><img src="../../../../../assets/images/admin/Chevron Down.svg"
            /></span>
            <ul class="dropdown-container" *ngIf="rolesDropdownOpen">
              <li value="basic_user" (click)="selectRole('Basic User')">
                Basic User
              </li>
              <li value="manager" (click)="selectRole('Administrator')">
                Administrator
              </li>
            </ul>
          </div>
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            type="'email'"
            class="input-fields{{ getEmailErrors() ? 'error' : '' }}"
            placeholder="something@example.com"
            formControlName="email" />
          @if(getEmailErrors()){
          <div class="validation-error-message">
            {{ getEmailErrors() }}
          </div>
          }
          <label for="bookable" class="form-label"> Bookable </label>
          <div class="flex justify-start items-center w-full">
            <div class="flex flex-col justify-start">
              <label class="relative inline-flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  formControlName="bookable"
                  name="bookable"
                  class="sr-only peer" />
                <div
                  class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
              </label>
            </div>

            <div class="flex ml-24">
              <div class="px-2 py-2">
                <div class="text-slate-700 text-xs leading-5">
                  Normal Availability
                </div>
                <div class="text-slate-500 text-xs leading-5">
                  Weekly total: 40h
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="department" class="form-label">Department</label>
            <select
              id="department"
              class="input-fields"
              formControlName="department">
              <option value="">Select Department</option>
              <option *ngFor="let dept of departments" [value]="dept">
                {{ dept }}
              </option>
            </select>
            <div class="validation-error-message" *ngIf="getDepartmentErrors()">
              {{ getDepartmentErrors() }}
            </div>
          </div>

          <div
            class="form-group"
            *ngIf="specializations && specializations.length > 0">
            <label for="specialization" class="form-label"
              >Specialization</label
            >
            <select
              id="specialization"
              class="input-fields"
              formControlName="specialization">
              <option value="">Select Specialization</option>
              <option *ngFor="let spec of specializations" [value]="spec">
                {{ spec }}
              </option>
            </select>
            <div
              class="validation-error-message"
              *ngIf="getSpecializationErrors()">
              {{ getSpecializationErrors() }}
            </div>
          </div>
        </div>

        <div class="buttons-wrapper">
          <button
            class="button border border-[#9AA8BC] bg-[#FFFFFF] text-[#022F54] hover:bg-[#e6e6e6]">
            cancel
          </button>
          <button
            type="submit"
            (click)="submitForm()"
            class="btn-add bg-[#1F26A8] text-[#fff]">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div [class]="backdropClasses" (click)="close()"></div>
