<h4>Personal Info</h4>
<p>Update your personal details here</p>
<form (submit)="submitForm($event)" [formGroup]="userDetails">
  <!------    Profile picture   ------>
  <div class="profile-picture">
    <img [src]="imgUrl" alt="profile picture" />
    <div class="camera-icon">
      <label for="image" class="visibly-hidden">Profile picture</label>
      <input
        type="file"
        id="image"
        name="image"
        (change)="onFileChange($event)"
        accept=".jpg,.jpeg,.png" />
      <img
        src="../../../../../assets/images/user/icon_camera-sharp.svg"
        alt="camera" />
      Upload Picture
    </div>
  </div>

  <div class="d-grid">
    <!------    First name field    ------>
    <div>
      <label for="firsName">First Name</label>
      <input
        id="firsName"
        type="text"
        class="input-settings {{ getNameErrors('firstName') ? 'error' : '' }}"
        placeholder="Ella"
        formControlName="firstName" />
      @if(getNameErrors('firstName')){
      <div class="validation-error-message">
        {{ getNameErrors('firstName') }}
      </div>
      }
    </div>

    <!------    Last name field    ------>
    <div>
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        type="text"
        class="input-settings {{ getNameErrors('lastName') ? 'error' : '' }}"
        placeholder="Naizer"
        formControlName="lastName" />
      @if(getNameErrors('lastName')){
      <div class="validation-error-message">
        {{ getNameErrors('lastName') }}
      </div>
      }
    </div>

    <!------    Email field    ------>
    <div>
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        class="input-settings {{ getEmailErrors() ? 'error' : '' }}"
        placeholder="ella.naizer@amalitech.org"
        formControlName="email" />
      @if(getEmailErrors()){
      <div class="validation-error-message">
        {{ getEmailErrors() }}
      </div>
      }
    </div>

    <!------    Phone number field    ------>
    <div>
      <label for="phoneNumber">Phone number</label>
      <input
        id="phoneNumber"
        type="tel"
        class="input-settings {{ getNumberErrors() ? 'error' : '' }}"
        pattern="[0-9]{10}"
        maxlength="10"
        placeholder="0512345678"
        formControlName="phoneNumber" />
      @if(getNumberErrors()){
      <div class="validation-error-message">
        {{ getNumberErrors() }}
      </div>
      }
    </div>

    <!------    Qualification field    ------>
    <div>
      <label for="qualification">Qualification</label>
      <select
        name="qualification"
        class="input-settings {{ getQualificationErrors() ? 'error' : '' }}"
        id="qualification"
        formControlName="qualification">
        <option value="PHD">PHD</option>
        <option value="Masters">Master's</option>
        <option value="Bachelors" selected>Bachelor's</option>
        <option value="HND">Higher National Diploma</option>
        <option value="SHS">Senior High School</option>
      </select>
      @if(getQualificationErrors()){
      <div class="validation-error-message">
        {{ getQualificationErrors() }}
      </div>
      }
    </div>
  </div>

  <div class="buttons">
    <button type="reset" class="button-settings bg-[#FFFFFF] text-[#022F54]">
      Reset
    </button>
    <button type="submit" class="button-settings bg-[#022F54] text-white">
      Update Profile
    </button>
  </div>
</form>
