<div class="global-pages-auth">
  <div class="global-illustration-left">
    <login-side-illustration
      imgUrl="../../../../assets/images/auth/Man Working on laptop.png"></login-side-illustration>
  </div>
  <div class="global-formfield-right">
    <div class="global-forms-auth">
      @if (formField === 'email') {
      <app-email-form></app-email-form>
      } @else if (formField === 'otp') {
      <app-otp-form></app-otp-form>
      } @else if (formField === 'changePassword') {
      <app-reset-password-form></app-reset-password-form>
      }
      <a routerLink="/login">
        <img
          src="../../../../assets/images/auth/arrow-left.svg"
          alt="arrow-left" />
        Back to log in
      </a>
    </div>
  </div>
</div>
