<div class="modal">
  <header>
    <span (click)="close()">
      <img src="assets/images/user/x-close.svg" alt="close icon" />
    </span>
    <h2>Employee</h2>
    <div class="user-details">
      <div>
        <img src="assets/images/user/avatar.svg" alt="avatar">
        <section>
          <h4>Joshuan Mensah</h4>
          <p>joshuan.mensahamalitech.com</p>
          <p>UI/UX Designer</p>
        </section>
      </div>
      <p>Edit</p>
    </div>
  </header>
  <hr>
  <main>
    <div class="toggles">
      <h3 [class]="display === 'general' ? 'active' : ''" (click)="display = 'general'">General</h3>
      <h3 [class]="display !== 'general' ? 'active' : ''" (click)="display = 'normal-avaliability'">Normal Availability
      </h3>
    </div>
    @if (display === 'general') {
    <div class="d-grid">
      <div class="key">Capacity</div>
      <div class="value">(GMT+0) UTC</div>
      <div class="key">Notes</div>
      <div class="value">60</div>
      <div class="key">Assigned Project</div>
      <div class="value">Notes</div>
      <div class="key">Assigned Clients</div>
      <div class="value">Capstone</div>
    </div>
    }
    @else if (display === 'normal-avaliability') {
    <div>
      <h5>Weeky total: 168h</h5>
    </div>
    }
  </main>
</div>
<div class="backdrop" (click)="close()"></div>